body {
    background-color: #f8f9fa; /* Light background color */
}

.card {
    border-radius: 10px; /* Rounded corners for cards */
}

.btn-dark {
    background-color: #343a40; /* Dark button color */
    border: none;
}

.btn-danger {
    background-color: #dc3545; /* Danger button color */
    border: none; 
}

.profile-picture-preview {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin-bottom: 15px; 
}

